language = "c"
run = "gcc -o main /home/runner/workspace/src/main.c && ./main"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o main /home/runner/workspace/src/main.c && ./main"]

[nix]
channel = "stable-24_05"
